# Ignore virtual environment directories
market_pulse/
venv/
.env/

# Python-related ignores
*.pyc
__pycache__/

# IDE-specific ignores
.vscode/
.idea/

# MacOS-specific files
.DS_Store

# Ignore large unused files
*.csv
*.json
*.npz