# Ignore virtual environment directories
market_pulse/
venv/
venv_gpu/
.env/

news_analysis_files/
analyzed_files/

# Python-related ignores
*.pyc
__pycache__/

# IDE-specific ignores
.vscode/
.idea/

# MacOS-specific files
.DS_Store

# Ignore large unused files
*.csv
*.json
*.npz